<template>
    <v-card>
        <v-card-title v-if="title">
            {{ title }}
            <v-spacer/>
            <slot name="title"></slot>
        </v-card-title>
        <v-card-text>
            <v-form 
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <slot v-for="(_, name) in $slots" :name="name" :slot="name" />
            </v-form>
        </v-card-text>
        <v-card-actions>
            <InputButton 
                @click="validate"
                :text="buttonText"
                :icon="buttonIcon"
                class="primary"
            />
        </v-card-actions> 
    </v-card>
</template>

<script>
import InputButton from './InputButton.vue'

export default {
    components: {
        InputButton
    },
    data: () => ({
        valid: true
    }),
    props: {
        title: {
            type: String,
            required: false
        },
        buttonText: {
            type: String,
            required: true,
        },
        buttonIcon: {
            type: String,
            required: false,
            default: ''
        }
    },
    methods: {
        validate() {
            if(this.$refs.form.validate()) {
                this.$emit('valid')
            }
        }
    }
}
</script>