<template>
    <div>
        <v-dialog
            v-model="showAvatarPicker"
            max-width="50%"
        >
            <v-card>
                <v-card-title/>
                <v-card-text>
                <v-row dense>
                    <v-avatar 
                        v-for="image, index in images" :key="index" 
                        @click="test(index)"
                        class="mx-auto my-1"
                        xs="auto"
                    >
                        <v-img :src="image.pathLong"/>
                    </v-avatar>

                </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-avatar>
            <v-img :src="avatar"/>
        </v-avatar>
        <v-btn @click="showAvatarPicker = !showAvatarPicker">{{ $t('Input.avatar') }} </v-btn>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            required: true
        },
        label: {
            type: String,
            required: true,
        },
        required: {
            type: Boolean,
            required: false,
            default: true
        },
    },
    data:() => ({
        showAvatarPicker: false,
        images: []
    }),
    mounted() {
        this.importAll(require.context('@/assets/avatars/', true, /\.png$/));
        console.log(this.images)
    },
    methods: {
        importAll(r) {
            r.keys().forEach(key => (this.images.push({ pathLong: r(key) })));
        },
        test(t) {
            console.log(t)
        }
    },
    computed: {
        rules() {
            let rules = [
                v => (!v || v.size <= 2000000) || this.$t('rules.maxSize', ['2MB'])
            ]
            if(this.required) {
                rules.push(v => !!v || this.$t('rules.required'))
            }
            return rules
        },
        avatar() {
            return require(`@/assets/avatars/${this.value}.png`)
        }
    }
}
</script>