<template>
    <v-textarea
        :value="value"
        @input="$emit('input', $event)"
        :label="label"
        :rules="rules"
        :counter="showCounter && maxLength ? maxLength : false"
        :maxLength="maxLength || false"
        rows="1"
        auto-grow
    >
        <slot v-for="(_, name) in $slots" :name="name" :slot="name" />
    </v-textarea>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: false
        },
        required: {
            type: Boolean,
            required: false,
            default: true
        },
        maxLength: {
            type: Number,
            required: false
        },
        showCounter: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    computed: {
        rules() {
            let rules = []
            if(this.required) {
                rules.push(v => !!v || this.$t('rules.required'))
            }
            if(this.maxLength) {
                rules.push(v=> v.length <= this.maxLength || this.$t('rules.maxLength'))
            }            
            return rules
        }
    }
}
</script>
