<template>
    <v-btn
        @click="$emit('click')"
        icon
        :disabled="disabled"
    >
        <slot v-for="(_, name) in $slots" :name="name" :slot="name" />
        <v-icon>{{ icon }}</v-icon>
    </v-btn>
</template>

<script>
export default {
    props: {
        icon: {
            type: String,
            required: true
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        }
    } 
}
</script>

<style>

</style>