<template>
    <v-btn
        @click.stop="$emit('click')"
        :disabled="disabled"
        rounded
    >
        <v-icon 
            v-if="icon"
            left
        >
            {{ icon }}
        </v-icon>
        <span>{{ text }}</span>
        <slot v-for="(_, name) in $slots" :name="name" :slot="name" />
    </v-btn>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            required: true
        },
        icon: {
            type: String,
            required: false
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        }
    } 
}
</script>

<style>

</style>