<template>
    <v-text-field
        :value="value"
        @input="$emit('input', $event)"
        :label="label"
        :disabled="disabled"
        :rules="rules"
        :counter="showCounter && maxLength ? maxLength : false"
        :maxLength="maxLength || false"
        :type="password && !showPassword ? 'password' : 'text'"
        :append-icon="password ? (!showPassword ? 'mdi-eye' : 'mdi-eye-off') : ''"
        @click:append="showPassword = !showPassword"
    >
        <slot v-for="(_, name) in $slots" :name="name" :slot="name" />
        <!-- TODO: if max length prop is passed, add counter on the bottom (e.g., 42/50)  -->
        <template v-slot:counter>
            
        </template>
    </v-text-field>
</template>

<script>
export default {
    data: () => ({
        showPassword: false
    }),
    props: {
        value: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: true
        },
        required: {
            type: Boolean,
            required: false,
            default: true
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        },
        maxLength: {
            type: Number,
            required: false
        },
        showCounter: {
            type: Boolean,
            required: false,
            default: false
        },
        email: {
            type: Boolean,
            required: false,
            default: false
        },
        password: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    computed: {
        rules() {
            let rules = []
            if(this.required) {
                rules.push(v => !!v || this.$t('rules.required'))
            }
            if(this.maxLength) {
                rules.push(v=> v.length <= this.maxLength || this.$t('rules.maxLength'))
            }      
            if(this.email) {
                rules.push(v => /[^@]+@[^.]+\..*/.test(v) || this.$t('rules.email'))
            }
            return rules
        }
    }
}
</script>