<template>
    <v-app-bar
        app
    >
        <v-btn
            v-if="isMobile || !navigationDrawerIsOpen"
            @click="toggleDrawer"
            icon
        >
            <v-icon>mdi-menu</v-icon>
        </v-btn>
        <h2 id="q">Q</h2><h2 id="wetter">wetter</h2>
        <v-spacer/>
        <ThemeSwitch class="mr-2"/>
        <LocaleSelector class="mr-2"/>
        <InputButton 
            class="ml-2 primary"
            :text="$t('AppBar.logout')"
            @click="logout"
        />
    </v-app-bar>
</template>

<script>
import ThemeSwitch from './ThemeSwitch.vue';
import LocaleSelector from './LocaleSelector.vue';
import InputButton from '../input/InputButton.vue';

export default {
    components: { 
        ThemeSwitch,
        LocaleSelector,
        InputButton
    },
    computed: {
        navigationDrawerIsOpen() {
            return this.$store.getters.navigationDrawerIsOpen
        },
        isMobile() {
            return this.$vuetify.breakpoint.smAndDown
        }
    },
    methods: {
        toggleDrawer() {
            this.$store.dispatch("toggleNavigationDrawer");
        },
        logout() {
            this.$store.dispatch("logout")
        }
    }
}
</script>

<style scoped>
    #q {
        font-family: 'Cooper Black', serif;
        color: #D5A021;
    }
    #wetter {
        font-family: 'Cooper Black', serif;
    }
</style>