<template>
    <v-card>
        <v-card-title class="primary">
            <span>{{ title }}</span>
            <v-spacer/>
            <slot name="title"></slot>
        </v-card-title>
        <v-divider/>
        <v-card-text v-if="messages == null">
            <v-row>
                <LoadingIcon/>
            </v-row>
        </v-card-text>
        <v-card-text v-else-if="messages.length == 0">
            <v-row>
                <span class="mx-auto my-4">{{ $t("Feed.empty") }}</span>
            </v-row>
        </v-card-text>
        <v-list 
            v-else
            three-line
            :max-height="maxHeight"
            class="overflow-y-auto"
        >   
            <div v-for="message, index in messages" :key="index">
                <v-divider v-if="index > 0"/>
                <Message
                    :uuid="message.uuid"
                    :username="message.username"
                    :firstName="message.firstName"
                    :lastName="message.lastName"
                    :content="message.content"
                    :timestamp="message.timestamp"
                    :likedUserUuids="message.liked_user_uuids"
                />
            </div>
        </v-list>
    </v-card>
</template>

<script>
import Message from './Message.vue'
import LoadingIcon from './LoadingIcon.vue'

export default {
    components: { 
        Message,
        LoadingIcon
    },
    props: {
        messages: {
            required: true
        },
        title: {
            type: String,
            required: true
        },
        maxHeight: {
            type: Number,
            required: false,
            default: 300
        }
    }
}
</script>