<template>
    <v-card>
        <v-card-title class="primary">
            {{ $t('FollowingList.title') }}
            <v-spacer/>
            <v-btn
                icon
                @click="fetchFollowing"
            >
                <v-icon>mdi-refresh</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider/>
        <v-card-text>
            <v-row
                v-if="following == null" 
                
            >
                <LoadingIcon/>
            </v-row>
            <v-row v-else-if="following.length == 0">
                <span class="mx-auto my-4">{{ $t("FollowingList.empty") }}</span>
            </v-row>
            <v-row v-else>
                <v-col
                    v-for="friend, index in following" :key="index"
                    cols="auto"
                >
                    <v-tooltip 
                        bottom
                        transition="scroll-y-transition"
                        open-delay="200"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-avatar
                                @click="friendClick(friend)"
                                v-bind="attrs"
                                v-on="on"
                            >
                                <v-img :src="require('@/assets/profile-placeholder.jpg')"/>
                            </v-avatar>
                        </template>
                        <span>{{ `@${friend.username}` }}</span>
                    </v-tooltip>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
import LoadingIcon from './LoadingIcon.vue'

export default {
    components: {
        LoadingIcon
    },
    methods: {
        friendClick(friend) {
            console.log(`${friend} was clicked`)
        },
        fetchFollowing() {
            this.$store.dispatch('fetchFollowing')
        }
    },
    computed: {
        following() {
            return this.$store.getters.following
        },
        isLoadingProfile() {
            return this.$store.getters.isLoadingProfile
        }
    }
}
</script>