<template>
    <!-- <v-select
        v-model="selectedLocale"
        :items="locales"
        item-text="text"
        item-value="value"
        hide-details
    >
    
    </v-select> -->
    <v-menu
        bottom
        left
        offset-y
    >
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                v-bind="attrs"
                v-on="on"
                icon
                small
            >
                <v-icon>mdi-translate</v-icon>
            </v-btn>
        </template>
        <v-list

        >
            <v-list-item>
                <b>{{ $t('LocaleSelector.language') }}</b>
            </v-list-item>
            <v-divider/>
            <v-list-item-group 
                v-model="locale"
            >
                <v-list-item v-for="locale, index in locales" :key="index">
                    <v-list-item-title>{{ locale.text }}</v-list-item-title>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-menu>
</template>

<script>
import i18n from '@/plugins/i18n';

export default {
    data: () =>({
        locales: [
            {
                value: 'en',
                text: 'English',
            },
            {
                value: 'nl',
                text: 'Nederlands',
            }
        ],
    }),
    computed: {
        locale: {
            get() {
                return i18n.locale
            },
            set(index) {
                if(index != null) {
                    i18n.locale = this.locales[index].value
                }
            }
        }
    }

}
</script>