<template>
    <v-list-item>
        <v-list-item-avatar>
            <v-img src="@/assets/profile-placeholder.jpg"/>
        </v-list-item-avatar>
        <v-list-item-content>
            <v-list-item-title>
                <span>{{ `${firstName} ${lastName} ` }}</span>
                <a class="grey--text text--lighten-1">{{ `@${username}` }}</a>
                <v-spacer/>
            </v-list-item-title>
            <v-list-item-subtitle v-html="formatContent(content)"></v-list-item-subtitle>  
        </v-list-item-content>
        <v-list-item-action>
            <v-list-item-action-text>{{ formatTimestamp(timestamp) }}</v-list-item-action-text>
            <v-row align="center" dense>
                <v-col class="pb-0 pr-0">
                    {{ formatLikeCount(likedUserUuids.length) }}
                </v-col>
                <v-col>
                    <InputIconButton 
                        @click="likeClick"
                        :icon="liked ? 'mdi-thumb-up' : 'mdi-thumb-up-outline'"
                        :disabled="loadingLike"
                    />
                </v-col>
            </v-row>
        </v-list-item-action>
    </v-list-item>
</template>

<script>

import i18n from '@/plugins/i18n';
import InputIconButton from '../input/InputIconButton.vue'

export default {
    components: { 
        InputIconButton 
    },
    props: {
        uuid: {
            type: String,
            required: true
        },
        username: {
            type: String,
            required: true
        },
        firstName: {
            type: String,
            required: true
        },
        lastName: {
            type: String,
            required: true
        },
        content: {
            type: String,
            required: true
        },
        timestamp: {
            type: String,
            required: true
        },
        likedUserUuids: {
            type: Array,
            required: true
        }
    },
    data: () => ({
        loadingLike: false
    }),
    computed: {
        locale() {
            return i18n.locale
        },
        currentUserUuid() {
            return this.$store.getters.uuid
        },
        liked() {
            return this.likedUserUuids.includes(this.currentUserUuid)
        }
    },
    methods: {
        async likeClick() {
            this.loadingLike = true
            try {
                let requestBody = {
                    user_uuid: this.currentUserUuid
                }
                let path = `/messages/${this.liked ? 'undo_like' : 'like'}/${this.uuid}`

                this.$apiClient.post(path, requestBody).then(response => {
                    let updatedLikes = response.data.liked_user_uuids
                    this.$store.dispatch("updateLikes", { uuid: this.uuid, likedUserUuids: updatedLikes })
                })
            }
            catch(e) {
                this.showErrorSnackbar(`An error occurred while (un)liking the message: ${e}`)
            }
            finally {
                this.loadingLike = false
            }
        },
        showErrorSnackbar(text) {
            const snackbar = {
                text: text,
                color: 'error',
                timeout: 4000
            }
            this.$store.dispatch('setSnackbar', snackbar)
        },
        formatContent(content) {
            // TODO: link to profile pages
            // Replace strings to websites with interactive links
            content = content.replace(/www.([a-zA-Z0-9]+).([a-z]+)/g, (website) => `<a href="http://${website}/">${website}</a>`)
            // Replace strings starting with '@' with interactive links to user profiles
            content = content.replace(/@([a-zA-Z0-9]+)/g, (mention) => `<a>${mention}</a>`)
            // Replace strings starting with '#' with interactive links to topics
            content = content.replace(/#([a-zA-Z0-9]+)/g, (hashtag) => `<a>${hashtag}</a>`) 
            return `${content}`
        },
        formatTimestamp(timestamp) {
            let timeFormatter = new Intl.RelativeTimeFormat(this.locale, {
                numeric: 'auto',
            });

            let secondsDiff = Math.floor((Date.now() - new Date(timestamp).getTime()) / 1000)

            if(secondsDiff < 60) {
                return timeFormatter.format(-secondsDiff, 'seconds')
            }
            else if(secondsDiff < 60 * 60) {
                return timeFormatter.format(-Math.floor(secondsDiff / 60), 'minutes')
            }
            else if(secondsDiff < 60 * 60 * 24) {
                return timeFormatter.format(-Math.floor(secondsDiff / 3600), 'hours')
            }
            else if(secondsDiff < 60 * 60 * 24 * 7) {
                return timeFormatter.format(-Math.floor(secondsDiff / 86400), 'days')
            }
            else if(secondsDiff < 60 * 60 * 24 * 30) {
                return timeFormatter.format(-Math.floor(secondsDiff / 604800), 'weeks')
            }
            else if(secondsDiff < 60 * 60 * 24 * 365) {
                return timeFormatter.format(-Math.floor(secondsDiff / 2629743), 'months')
            }
            else {
                return timeFormatter.format(-Math.floor(secondsDiff / 31556926), 'years')
            }
        },
        formatLikeCount(likeCount) {
            let numberFormatter = new Intl.NumberFormat(this.locale, {
                notation: 'compact'
            })
            return numberFormatter.format(likeCount)
        }
    }

}
</script>