<template>
    <InputForm 
        :title="$t('MessageCreator.title')"
        :buttonText="$t('MessageCreator.create')"
        @valid="createMessage"
    >
        <InputTextarea 
            v-model="message"
            :maxLength="255"
            :showCounter="true"
        />
    </InputForm>
</template>

<script>

import InputForm from '../input/InputForm.vue'
import InputTextarea from '../input/InputTextarea.vue'

export default {
    components: {
        InputForm,
        InputTextarea
    },
    data: () => ({
        message: ""
    }),
    computed: {
        messageRequestBody() {
            return {
                user_uuid: this.$store.getters.uuid,
                firstName: this.$store.getters.firstName,
                lastName: this.$store.getters.lastName,
                username: this.$store.getters.username,
                avatar: this.$store.getters.avatar,
                content: this.message,
                timestamp: new Date().toISOString()
            }
        }
    },
    methods: {
        async createMessage() {
            try {
                this.$apiClient.post('/messages', this.messageRequestBody).then(() => {
                    this.message=""
                })
            }
            catch(e) {
                // TODO: implement general error handler in store
                this.showErrorSnackbar(`An error occurred while posting the message: ${e}`)
            }
        },
        showErrorSnackbar(text) {
            const snackbar = {
                text: text,
                color: 'error',
                timeout: 4000
            }
            this.$store.dispatch('setSnackbar', snackbar)
        },
    }
}
</script>   