<template>
    <v-navigation-drawer 
        :value="isOpen"
        mobile-breakpoint="960" 
        app
        floating
    >
        <v-list-item :class="{'my-1': !isMobile()}">
            <v-list-item-avatar>
                <v-img
                    src="@/assets/profile-placeholder.jpg"
                />
            </v-list-item-avatar>
            <v-list-item-title>{{ $t('NavigationDrawer.hello', [firstName]) }}</v-list-item-title>
            <v-spacer/>
            <v-btn
                @click="toggleDrawer"
                icon
            >
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
        </v-list-item>
        <v-divider/>
        <v-list
            dense
            nav
        >
            <v-list-item v-for="item, index in items" :key="index" :to="item.path">
                <v-list-item-icon v-if="!item.requiresAdmin || (!!item.requiresAdmin && isAdmin)">
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content v-if="!item.requiresAdmin || (!!item.requiresAdmin && isAdmin)">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    computed: {
        isOpen() {
            return this.$store.getters.navigationDrawerIsOpen
        },
        firstName() {
            return this.$store.getters.firstName
        },
        items() {
            return [
                { 
                    title: this.$t('NavigationDrawer.home'), 
                    path: '/', 
                    icon: 'mdi-forum' 
                },
                { 
                    title: this.$t('NavigationDrawer.profile'), 
                    path: '/profile', 
                    icon: 'mdi-account' 
                },
                { 
                    title: this.$t('NavigationDrawer.settings'), 
                    path: '/settings', 
                    icon: 'mdi-cog'
                },
                { 
                    title: this.$t('NavigationDrawer.moderate'), 
                    path: '/moderate', 
                    requiresAdmin: true,
                    icon: 'mdi-hammer' 
                },
            ]
        },
        isAdmin() {
            return this.$store.getters.isAdmin
        }
    },
    methods: {
        toggleDrawer() {
            this.$store.dispatch('toggleNavigationDrawer')
        },
        isMobile() {
            return this.$vuetify.breakpoint.smAndDown
        }
    }
}
</script>