<template>
  <v-container :class="isMobile ? 'pa-0' : ''">
    <v-card 
        flat
        :style=" { background: $vuetify.theme.themes[theme].page } "
    >
        <v-card-title v-if="title">{{ title }}</v-card-title>
        <v-card-text>
            <slot></slot>
        </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: false
        }
    },
    computed: {
        isMobile() {
            return this.$vuetify.breakpoint.smAndDown
        },
        theme(){
            return (this.$vuetify.theme.dark) ? 'dark' : 'light'
        }
    },
}
</script>