<template>
    <v-card>
        <v-card-title class="primary">
            <v-avatar 
                size="70"
                class="mr-2"
            >
                <v-img src="@/assets/profile-placeholder.jpg" />
            </v-avatar>
            <span>{{ $t('ProfileHeader.title', [username]) }}</span>
        </v-card-title>
        <v-divider/>
        <v-card-text class="py-0">
            <v-simple-table>
                <tbody>
                    <tr>
                        <th>{{$t('ProfileHeader.name') }}</th>
                        <td>{{ name }}</td>
                    </tr>
                    <tr>
                        <th>{{$t('ProfileHeader.bio') }}</th>
                        <td>{{ bio }}</td>
                    </tr>
                    <tr>
                        <th>{{$t('ProfileHeader.location') }}</th>
                        <td>{{ location }}</td>
                    </tr>
                    <tr>
                        <th>{{$t('ProfileHeader.website') }}</th>
                        <td>{{ website }}</td>
                    </tr>
                </tbody>
            </v-simple-table>
        </v-card-text>
        <!-- <v-divider/>
            <v-list dense>
                <v-list-item v-for="detail, index in details" :key="index">
                    <v-list-item-icon>
                        <v-icon>{{ detail.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{ `${detail.text}: ${detail.value}` }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list> -->
    </v-card>
</template>

<script>
export default {
    data: () => ({
        details: [
            {
                text: "Followers",
                value: "123",
                icon: "mdi-account-arrow-left"
            },
            {
                text: "Following",
                value: "45",
                icon: "mdi-account-arrow-right"
            },
            {
                text: "Qweets",
                value: "789",
                icon: "mdi-message"
            }
        ]
    }),
    computed: {
        columnWidth() {
            return 'auto'
        },
        username() {
            return this.$store.getters.username
        },
        name() {
            return `${this.$store.getters.firstName} ${this.$store.getters.lastName}`
        },
        bio() {
            return this.$store.getters.bio
        },
        location() {
            return this.$store.getters.location
        },
        website() {
            return this.$store.getters.website
        },
    }
}
</script>