<template>
    <v-scroll-y-reverse-transition v-if="snackbar">
        <v-snackbar
            v-model="snackbar"
            :color="snackbar.color"
            :timeout="snackbar.timeout || 2000"
            outlined
        >
            <span >{{ snackbar.text }}</span>
            <template v-slot:action="{ attrs }">
                <v-btn
                    v-bind="attrs"
                    @click="snackbar = false"
                    icon
                    :color="snackbar.color"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </template>
        </v-snackbar>
    </v-scroll-y-reverse-transition>
</template>

<script>
export default {
    computed: {
        snackbar: {
            get() {
                return this.$store.getters.snackbar
            },
            set() {
                this.$store.dispatch('setSnackbar', null)
            }
        }
    }
}
</script>