<template>
    <v-btn-toggle
        v-model="darkTheme"
    >
        <v-btn
            :value="false"
            icon
            small
        >
            <v-icon>mdi-weather-sunny</v-icon>
        </v-btn>
        <v-btn
            :value="true"
            icon
            small
        >
            <v-icon>mdi-weather-night</v-icon>
        </v-btn>
    </v-btn-toggle>
</template>

<script>
export default {
    computed: {
        darkTheme: {
            get() {
                return this.$store.getters.darkTheme
            },
            set(isDark) {
                if(isDark != null) {
                    this.$store.dispatch('enableDarkTheme', isDark)
                    this.$vuetify.theme.dark = isDark
                }
            }
        }
    },
    created() {
        let localTheme = localStorage.getItem('theme');
        if(localTheme) {
            this.darkTheme = localTheme == 'dark';
        }
        else if(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            this.darkTheme = true
        }
    }
}
</script>