<template>
    <div>
        <v-row v-if="users == null">
            <LoadingIcon />
        </v-row>
        <v-expansion-panels 
            v-else
            accordion 
            multiple
        >
            <v-expansion-panel
                v-for="user, index in users" :key="index"
            >
                <v-expansion-panel-header>
                    <v-row>
                        <v-col class="my-auto">
                            <span>{{ `@${user.username}` }}</span> 
                        </v-col>
                        <v-spacer/>
                        <v-col 
                            v-if="user.uuid != $store.getters.uuid && following != null"
                            cols="auto"
                        >
                            <InputButton 
                                v-if="!followsUser(user.uuid)"
                                class="mr-3 primary"
                                :text="$t('UserList.follow')"
                                @click="follow(user.uuid)"
                            >
                            </InputButton>
                            <InputButton
                                v-else
                                class="mr-3 primary"
                                :text="$t('UserList.unfollow')"
                                @click="unfollow(user.uuid)"
                            >
                            </InputButton>
                        </v-col>
                    </v-row>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-simple-table>
                        <tbody>
                            <tr v-for="key in Object.keys(user)" :key="key">
                                <th>{{$t(`UserList.${key}`) }}</th>
                                <td>{{ user[key] }}</td>
                            </tr>
                        </tbody>
                    </v-simple-table>
                </v-expansion-panel-content>
            </v-expansion-panel>

        </v-expansion-panels>
    </div>
</template>

<script>
import LoadingIcon from '../layout/LoadingIcon.vue'
import InputButton from '../input/InputButton.vue'

export default {
    props: {
        users: {
            required: true
        }
    },
    components: {
        LoadingIcon,
        InputButton
    },
    methods: {
        follow(uuid) {
            this.$store.dispatch('followUser', uuid)
        },
        unfollow(uuid) {
            this.$store.dispatch('unfollowUser', uuid)
        },
        followsUser(uuid) {
            return this.following.find(user => user.uuid == uuid) != undefined
        }

    },
    computed: {
        following() {
            return this.$store.getters.following
        }
    }
}
</script>