<template>
  <Page :title="$t('NavigationDrawer.home')">
    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia saepe laudantium praesentium quod tempora laboriosam impedit voluptates reiciendis omnis molestiae, sit eaque officiis asperiores vero aut. Dolor nam aliquam doloremque!
    <v-row class="pt-2">
      <v-col cols="auto">
        <InputButton text="fetch users" @click="fetchUsers"/>
      </v-col>
      <v-col cols="auto">
        <InputButton text="fetch messages" @click="fetchMessages"/>
      </v-col>
      <v-col cols="auto">
        <InputButton text="show snackbar" @click="showSnackbar"/>
      </v-col>
    </v-row> -->
    <v-row class="pt-2">
      <v-col>
        <UserList 
          :users="users"
        />
      </v-col>
    </v-row>
    <v-row class="pt-2">
      <v-col>
        <Feed 
          :title="$t('Feed.newest')"
          :messages="messages"
        >
          <template v-slot:title>
            <InputIconButton 
              @click="fetchMessages"
              icon="mdi-refresh"
            />
          </template>
        </Feed>
      </v-col>
    </v-row>
    <v-row class="pt-2">
      <v-col>
        <MessageCreator />
      </v-col>
    </v-row>
  </Page> 
</template>

<script>
  import Page from '../components/layout/Page.vue';
  import Feed from '../components/layout/Feed.vue';
  import MessageCreator from '../components/layout/MessageCreator.vue';
  import UserList from '../components/layout/UserList.vue';
  // import InputButton from '../components/input/InputButton.vue'
  import InputIconButton from '../components/input/InputIconButton.vue'
  
  export default {
    components: { 
      Page,
      Feed,
      MessageCreator,
      UserList,
      // InputButton,
      InputIconButton
    },
    methods: {
      fetchUsers() {
        this.$store.dispatch('fetchUsers')
      },
      fetchMessages() {
        this.$store.dispatch('fetchMessages')
      },
      showSnackbar() {
        let snackbar = {
          color: 'primary',
          text: 'Button test!'
        }
        this.$store.dispatch('setSnackbar', snackbar)
      }
    },
    computed: {
      users() {
        return this.$store.getters.users
      },
      messages() {
        return this.$store.getters.messages
      },
    }
  }
</script>
