<template>
  <Page :title="$t('NavigationDrawer.moderate')">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia saepe laudantium praesentium quod tempora laboriosam impedit voluptates reiciendis omnis molestiae, sit eaque officiis asperiores vero aut. Dolor nam aliquam doloremque!
  </Page> 
</template>

<script>
  import Page from '../components/layout/Page.vue';
  
  export default {
    components: { 
      Page 
    }
  }
</script>
