<template>
  <Page>
    <v-row>
      <v-col
        order=1
        order-md=1
        xs=12
        md=6
        lg=5
        xl=3
      >
        <ProfileHeader/>
      </v-col>
      <v-col
        order=3
        order-md=2
        xs=12
        md=6
        lg=7
        xl=9
      >
        <FollowingList/>
      </v-col>
      <v-col
        order="2"
        order-md="3"
        xs=12
      >
        <Feed
          :title="$t('Feed.timeline')"
          :messages="timeline"
        >
          <template v-slot:title>
            <InputIconButton 
              @click="fetchTimeline"
              icon="mdi-refresh"
            />
          </template>
        </Feed>
      </v-col>
    </v-row>
  </Page> 
</template>

<script>
import Feed from '../components/layout/Feed.vue';
import FollowingList from '../components/layout/FollowingList.vue';
import Page from '../components/layout/Page.vue';
import ProfileHeader from '../components/layout/ProfileHeader.vue';
import InputIconButton from '../components/input/InputIconButton.vue'
  
export default {
  components: { 
    Page,
    Feed,
    ProfileHeader,
    FollowingList,
    InputIconButton
  },
  computed: {
    timeline() {
      return this.$store.getters.timeline
    }
  },
  methods: {
    fetchTimeline() {
      this.$store.dispatch('fetchTimeline')
    }
  }
}
</script>
