<template>
  <Page>
    <InputForm
      @valid="saveChanges"
      :title="$t('Settings.title')"
      :buttonText="$t('Settings.save')"
    >
      <InputTextField
        v-model="profile.firstName"
        :label="$t('Settings.firstName')"
      />
      <InputTextField
        v-model="profile.lastName"
        :label="$t('Settings.lastName')"
      />
      <InputAvatar
        v-model="profile.avatar"
        :label="$t('Settings.avatar')"
      />
      <InputTextField
        v-model="profile.bio"
        :label="$t('Settings.bio')"
      />
      <InputTextField
        v-model="profile.location"
        :label="$t('Settings.location')"
      />
      <InputTextField
        v-model="profile.website"
        :label="$t('Settings.website')"
      />
    </InputForm>
  </Page> 
</template>

<script>
  import Page from '../components/layout/Page.vue';
  import InputForm from '../components/input/InputForm.vue';
  import InputTextField from '../components/input/InputTextField.vue';
  import InputAvatar from '../components/input/InputAvatar.vue';
  
  export default {
    components: { 
      Page,
      InputForm,
      InputTextField,
      InputAvatar 
    },
    data: () => ({
      profile: {
        firstName: "",
        lastName: "",
        avatar: null,
        bio: "",
        location: "",
        website: ""
      }
    }),
    methods: {
      saveChanges() {
        this.$store.dispatch('updateProfile', this.profile)
      }
    },
    created() {
      this.profile = this.$store.getters.profile
    }
  }
</script>
