<template>
  <Page :title="$t('Unauthorized.title')">
    {{ $t('Unauthorized.message') }}
  </Page> 
</template>

<script>
  import Page from '../components/layout/Page.vue';
  
  export default {
    components: { 
      Page 
    }
  }
</script>
