<template>
    <v-card>
        <v-layout>
            <v-row>
                <v-col cols=auto class="pr-0">
                    <v-card-title class="pr-0">
                        <v-avatar class="mt-2">
                            <img
                                src="@/assets/profile-placeholder.jpg"
                                :alt="username"
                            >
                        </v-avatar>
                    </v-card-title>
                </v-col>
                <v-col class="pl-0">
                    <v-card-title>
                        <span>{{ `${firstName} ${lastName}` }}</span>
                    </v-card-title>
                    <v-card-subtitle>
                        <span>{{ `@${username}` }}</span>
                    </v-card-subtitle>
                </v-col>
                <v-col cols=auto>
                    <v-card-subtitle>
                        <span>{{ date }}</span>
                        <v-spacer/>
                        <span>{{ time }}</span>
                    </v-card-subtitle>
                </v-col>
            </v-row>
        </v-layout>
        <v-card-text class="pt-0">
            <span>{{ message }}</span>
        </v-card-text>
        <v-divider/>
        <v-card-actions>
            <IconButton
                @click="like"
                icon="mdi-thumb-up-outline"
            />
            <span class="mr-2">{{ likes }}</span>
            <IconButton
                @click="dislike"
                icon="mdi-thumb-down-outline"
            />
            <span class="mr-2">{{ dislikes }}</span>
            <IconButton
                @click="share"
                icon="mdi-share-variant"
            />
        </v-card-actions>
    </v-card>
</template>

<script>
import IconButton from '../../input/InputIconButton.vue'

export default {
    components: { 
        IconButton 
    },
    props: {
        username: {
            type: String,
            required: true
        },
        firstName: {
            type: String,
            required: true
        },
        lastName: {
            type: String,
            required: true
        },
        message: {
            type: String,
            required: true
        },
        likes: {
            type: Number,
            required: true
        },
        dislikes: {
            type: Number,
            required: true
        },
        date: {
            type: String,
            required: true
        },
        time: {
            type: String,
            required: true
        }
    },
    methods: {
        like() {
            console.log('like')
        },
        dislike() {
            console.log('dislike')
        },
        share() {
            console.log('share')
        },
    }

}
</script>