<template>
  <v-app 
    id="main"
    :style=" { background: $vuetify.theme.themes[theme].background } "
  >
    <NavigationDrawer v-if="!$route.meta.hideNavbar"/>
    <AppBar/>
    <v-main>
      <router-view/>
      <Snackbar/>
    </v-main>
  </v-app>
</template>

<script>
import NavigationDrawer from './components/layout/NavigationDrawer.vue';
import AppBar from './components/layout/AppBar.vue';
import Snackbar from './components/layout/Snackbar.vue';

export default {
    name: "App",
    components: { 
      NavigationDrawer,
      AppBar,
      Snackbar
    },
    created() {
      this.$store.dispatch("initialize");
    },
    computed:{
      theme(){
        return (this.$vuetify.theme.dark) ? 'dark' : 'light'
      }
    }
};
</script>
